<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Greenie</a></strong>
			- A compost pick-up service <br />
			<u>Keywords</u> : Node.js, Express <br />
			<a href="http://www.github.com/leiluspocus/greenie">Github</a>
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Shredder</a></strong>
			- Share secret messages with people <br />
			<u>Keywords</u> : Node.js, Sails <br />
			<a href="http://github.com/leiluspocus/shredder">Github</a>
		</h5>
    </div>
  </div>
</div>
</section>
